* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body{
  background-color: #161616;
  color: white;
  overflow: hidden;
  font-weight: 300;
  font-family: 'Roboto Slab' sans-serif;
  padding: 0;
  margin: 0;
}

#marker-blob{
  transition: left 0.3s 0 ease-in-out;
  position: fixed;
  z-index: 3;
}

#container{
  position: fixed;
  top: 100px;
  bottom: 25px;
  left: 0;
  right: 0;
}

.ribbon {
  background-color: transparent;
  position: absolute;
  top:0;
  left:0;
  height: 50%;
  width:100000px;
  overflow-x:scroll;
  overflow-y:hidden;
  transition:left 0.5s 0 ease-out;
}

.title{
  float: left;
  display:inline-block;
  height: 100%;
  min-width: 100px;
  border: 0 none;
  padding:10px 15px 10px 15px;
  cursor: pointer;
  position: relative;
}

.title img{
  -webkit-transform: translateZ(0);
  height: 100%;
  box-shadow: 0px 0px 4px black;
}

.title > .label{
  z-index: 10;
  position: absolute;
  left:27px;
  bottom:22px;
  font-size: 1.9em;
  color:rgba(255,255,255,0.6);
  text-shadow: 1px 3px 6px rgba(0,0,0,1);
}

.selected-img{
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition:all .4s 0 ease-in-out;
}

.selected-img img{
  box-shadow: none;
  float:none;
  width: 100%;
  height: 100%;
}

.selected-img .label{
  color:white;
}

.location{
  font-size: 72px;
  display: block;
  width:100%;
  margin-left:32px;
  margin-top:5px;
}

#last-updated{
  position: fixed;
  right: 40px;
  top: 67px;
  opacity: 0.5;
}

#languages{
  position: fixed;
  right: 40px;
  top: 24px;
  color:rgba(255,255,255,0.7);
  width:800px;
  text-align: right;
  font-size: 1.3em;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width:100%;
  z-index: 2;
  transition:opacity 0.5 0 linear;
}

#overlay .bg{
  position:absolute;
  background-color:rgba(0, 0, 0, 0.5);
  top:0;right:0;left:0;bottom:0;width:100%;
}

.off{
  display:none;
}

#branding{
  position: fixed;
  bottom: 4px;
  z-index: 2;
  right: 5px;
  font-family: sans-serif;
  font-size:.8em;
}

#content{
  background-color: rgba(0, 0, 0, 0.6);
  border:0px solid rgba(255, 255, 255, 0.3);
  border-left-width: 4px;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  padding: 0 1.4em;
  position:absolute;
  left: 50%;
  right: 2%;
  bottom:6%;
  margin-top:10px;
}

#content h1, #content p{color:white;font-weight: 300;}
#content h1{font-size: 2.6em;margin:.2em 0;}
#content {font-size: 1.2em;}